{% extends 'default/section.html.twig' %}

{% block title %}Identity{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset("styles/css/identity.css") }}" />
{% endblock %}

{% block content %}
  <ul>
    <li class="item-1"><img src="{{ asset("img/identity/identity-01.png") }}" /></li>
    <li class="item-2"><img src="{{ asset("img/identity/identity-02.png") }}" /></li>
    <li class="item-3"><img src="{{ asset("img/identity/identity-03.png") }}" /></li>
    <li class="item-4"><img src="{{ asset("img/identity/identity-04.png") }}" /></li>
    <li class="item-5"><img src="{{ asset("img/identity/identity-05.png") }}" /></li>
    <li class="item-6"><img src="{{ asset("img/identity/identity-06.png") }}" /></li>
    <li class="item-7"><img src="{{ asset("img/identity/identity-07.png") }}" /></li>
  </ul> 
{% endblock %}
