{% extends 'default/section.html.twig' %}

{% block title %}Web{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset("styles/css/web.css") }}" />
{% endblock %}

{% block content %}
  <ul>
    <li class="item-1"><img src="{{ asset("img/web/web-01.png") }}" /></li>
    <li class="item-2"><img src="{{ asset("img/web/web-02.png") }}" /></li>
    <li class="item-3"><img src="{{ asset("img/web/web-03.png") }}" /></li>
    <li class="item-4"><img src="{{ asset("img/web/web-04.png") }}" /></li>
    <li class="item-5"><img src="{{ asset("img/web/web-05.png") }}" /></li>
    <li class="item-6"><img src="{{ asset("img/web/web-06.png") }}" /></li>
    <li class="item-7"><img src="{{ asset("img/web/web-07.png") }}" /></li>
    <li class="item-8"><img src="{{ asset("img/web/web-08.png") }}" /></li>
  </ul> 
{% endblock %}
